In [1]:
from scipy.stats import zscore
import pandas as pd

In [2]:
df = pd.read_csv("./Airbnb_Open_Data.csv")
df.head()

/var/folders/qv/hlnb1jfx68x_r2g75s1fkjlm0000gq/T/ipykernel_25620/2006713868.py:1: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("./Airbnb_Open_Data.csv")

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,$193,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,$28,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,$124,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,$74,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,$41,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [3]:
zscore(df["price"])

TypeError: can only concatenate str (not "float") to str

In [4]:
df.dtypes

id                                  int64
NAME                               object
host id                             int64
host_identity_verified             object
host name                          object
neighbourhood group                object
neighbourhood                      object
lat                               float64
long                              float64
country                            object
country code                       object
instant_bookable                   object
cancellation_policy                object
room type                          object
Construction year                 float64
price                              object
service fee                        object
minimum nights                    float64
number of reviews                 float64
last review                        object
reviews per month                 float64
review rate number                float64
calculated host listings count    float64
availability 365                  float64
house_rules                        object
license                            object
dtype: object

In [5]:
df["price"] = df["price"].str.replace("$", "")
df["price"] = df["price"].str.replace(",", "")
df["price"] = df["price"].astype(float)

In [6]:
zscore(df["price"], nan_policy = "omit")

0         1.027245
1        -1.457152
2        -0.015960
3        -0.775752
4        -1.270219
            ...
102594    0.659410
102595    0.638305
102596    1.093576
102597   -0.239074
102598    1.226238
Name: price, Length: 102599, dtype: float64

In [7]:
df["minimum nights"] = df["minimum nights"].astype(float)
df["minimum_nights_zscore"] = zscore(df["minimum nights"], nan_policy = "omit")
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,minimum_nights_zscore
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,10.0,9.0,10/19/2021,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN,0.061013
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,30.0,45.0,5/21/2022,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN,0.715599
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,3.0,0.0,NaN,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN,-0.168093
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,30.0,270.0,7/5/2019,4.64,4.0,1.0,322.0,NaN,NaN,0.715599
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,10.0,9.0,11/19/2018,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN,0.061013

In [8]:
df[df["minimum_nights_zscore"] > 3]

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license,minimum_nights_zscore
62,1035579,NaN,51930287368,unconfirmed,George,Manhattan,Chelsea,40.74623,-73.99530,United States,...,180.0,5.0,11/3/2018,0.12,2.0,1.0,NaN,NaN,NaN,5.624999
166,1093018,* Spacious GARDEN Park Slope Duplex* 6 people max,61571782497,verified,Nicole,Brooklyn,Gowanus,40.66858,-73.99083,United States,...,144.0,80.0,7/6/2019,NaN,2.0,1.0,52.0,"No candles, smoking or flame of any kind is al...",NaN,4.446743
167,1093570,Convenient cozy cheap apt Manhattan,29280666536,unconfirmed,Agata,Manhattan,Harlem,40.82704,-73.94907,United States,...,371.0,2.0,11/2/2015,NaN,4.0,1.0,70.0,"You will be sharing a bathroom, so you must be...",NaN,11.876302
168,1094122,Parlor Room In Victorian Townhouse,45745264571,NaN,Heather,NaN,Clinton Hill,40.68843,-73.96408,United States,...,149.0,294.0,6/24/2019,NaN,3.0,3.0,311.0,NaN,NaN,4.610390
169,1094675,House On Henry (2nd FLR Suite),44408473243,NaN,James,Brooklyn,Carroll Gardens,40.67830,-74.00135,United States,...,273.0,150.0,6/18/2019,1.40,5.0,3.0,141.0,-Please no pets -Quiet hours are from 10pm - 8...,NaN,8.668827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101796,57223267,Small Cozy Room in Herald Square,68953119258,verified,Chelsea,Manhattan,Midtown,40.75001,-73.98629,United States,...,300.0,1.0,3/25/2017,0.04,1.0,1.0,89.0,NaN,NaN,9.552519
101842,57248673,Beautiful duplex in Gramercy,89855789531,unconfirmed,Pilar,Manhattan,Gramercy,40.73746,-73.98338,United States,...,120.0,2.0,8/13/2017,0.08,2.0,1.0,167.0,"We hope you will be nice to the dogs, quiet in...",NaN,3.661239
101980,57324890,NYU/E.Village Cafes & Bars*6 month $3500/mo,61716466230,unconfirmed,Lisa,Manhattan,East Village,40.72804,-73.98665,United States,...,180.0,15.0,5/28/2019,0.56,3.0,1.0,332.0,NaN,NaN,5.624999
102468,20408053,"Clean, Cozy Home in Perfect Park Slope Location",52339470834,unconfirmed,Young Jean,Brooklyn,Park Slope,40.68178,-73.97957,United States,...,120.0,0.0,NaN,NaN,5.0,1.0,0.0,All guests are expected to be respectful and m...,NaN,3.661239
102528,6055986,Furnished room in Astoria apartment,19867591692,verified,Kathrine,Queens,Astoria,40.76810,-73.91651,United States,...,100.0,2.0,2/13/2016,0.04,3.0,1.0,233.0,"The studio is located in a smoke-free, no pets...",NaN,3.006653