In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./WaterQualityWaterQualityStation.csv")
df.head()

,MonitoringStation,EventId,Cruise,Program,Project,Agency,Source,Station,SampleDate,SampleTime,...,Unit,Method,Lab,Problem,PrecisionPC,BiasPC,Details,Latitude,Longitude,TierLevel
0,1AACO014.57,674222,NTN024,NTWQM,NTN,VADEQ,USGSVA,1AACO014.57,1/10/24,12:00:00,...,MG/L,F04,NaN,NaN,NaN,NaN,CIMS Event = RSI CIMS remark = NF Routine Stor...,38.81123,-77.23026,T3
1,1AACO014.57,674119,NTN024,NTWQM,NTN,VADEQ,USGSVA,1AACO014.57,2/13/24,9:15:00,...,MG/L,F04,NaN,NaN,NaN,NaN,CIMS Event = S CIMS remark = HF Storm Targeted...,38.81123,-77.23026,T3
2,1AACO014.57,672581,NTN024,NTWQM,NTN,VADEQ,USGSVA,1AACO014.57,3/7/24,10:15:00,...,MG/L,F04,NaN,NaN,NaN,NaN,CIMS Event = S CIMS remark = NF Storm Targeted...,38.81123,-77.23026,T3
3,1AACO014.57,672582,NTN024,NTWQM,NTN,VADEQ,USGSVA,1AACO014.57,3/13/24,10:15:00,...,MG/L,F04,NaN,NaN,NaN,NaN,CIMS Event = R CIMS remark = NF Routine Sample...,38.81123,-77.23026,T3
4,1AACO014.57,672583,NTN024,NTWQM,NTN,VADEQ,USGSVA,1AACO014.57,4/3/24,9:00:00,...,MG/L,F04,NaN,NaN,NaN,NaN,CIMS Event = S CIMS remark = HF Storm Targeted...,38.81123,-77.23026,T3

In [5]:
sorted(df["SampleDate"].unique())

['1/10/24',
 '1/11/24',
 '1/12/24',
 '1/13/24',
 '1/16/24',
 '1/17/24',
 '1/18/24',
 '1/2/24',
 '1/22/24',
 '1/23/24',
 '1/24/24',
 '1/25/24',
 '1/26/24',
 '1/28/24',
 '1/29/24',
 '1/3/24',
 '1/30/24',
 '1/31/24',
 '1/4/24',
 '1/7/24',
 '1/8/24',
 '1/9/24',
 '10/15/24',
 '10/22/24',
 '10/23/24',
 '2/1/24',
 '2/12/24',
 '2/13/24',
 '2/14/24',
 '2/15/24',
 '2/16/24',
 '2/19/24',
 '2/20/24',
 '2/21/24',
 '2/22/24',
 '2/23/24',
 '2/26/24',
 '2/27/24',
 '2/28/24',
 '2/29/24',
 '2/5/24',
 '2/6/24',
 '2/7/24',
 '2/8/24',
 '3/10/24',
 '3/11/24',
 '3/12/24',
 '3/13/24',
 '3/14/24',
 '3/15/24',
 '3/18/24',
 '3/19/24',
 '3/20/24',
 '3/21/24',
 '3/24/24',
 '3/25/24',
 '3/26/24',
 '3/27/24',
 '3/28/24',
 '3/29/24',
 '3/4/24',
 '3/5/24',
 '3/6/24',
 '3/7/24',
 '3/8/24',
 '4/1/24',
 '4/10/24',
 '4/11/24',
 '4/12/24',
 '4/15/24',
 '4/16/24',
 '4/17/24',
 '4/18/24',
 '4/2/24',
 '4/22/24',
 '4/23/24',
 '4/24/24',
 '4/25/24',
 '4/29/24',
 '4/3/24',
 '4/30/24',
 '4/4/24',
 '4/5/24',
 '4/8/24',
 '4/9/24',
 '5/1/24',
 '5/10/24',
 '5/13/24',
 '5/14/24',
 '5/15/24',
 '5/16/24',
 '5/2/24',
 '5/20/24',
 '5/21/24',
 '5/22/24',
 '5/23/24',
 '5/28/24',
 '5/29/24',
 '5/30/24',
 '5/5/24',
 '5/6/24',
 '5/7/24',
 '5/8/24',
 '5/9/24',
 '6/10/24',
 '6/11/24',
 '6/12/24',
 '6/13/24',
 '6/17/24',
 '6/18/24',
 '6/20/24',
 '6/24/24',
 '6/25/24',
 '6/26/24',
 '6/27/24',
 '6/3/24',
 '6/30/24',
 '6/4/24',
 '6/5/24',
 '6/6/24',
 '7/1/24',
 '7/10/24',
 '7/11/24',
 '7/12/24',
 '7/13/24',
 '7/15/24',
 '7/16/24',
 '7/17/24',
 '7/18/24',
 '7/2/24',
 '7/22/24',
 '7/23/24',
 '7/24/24',
 '7/25/24',
 '7/29/24',
 '7/3/24',
 '7/30/24',
 '7/31/24',
 '7/8/24',
 '7/9/24',
 '8/1/24',
 '8/10/24',
 '8/11/24',
 '8/12/24',
 '8/13/24',
 '8/14/24',
 '8/15/24',
 '8/18/24',
 '8/19/24',
 '8/20/24',
 '8/21/24',
 '8/22/24',
 '8/26/24',
 '8/27/24',
 '8/28/24',
 '8/29/24',
 '8/3/24',
 '8/30/24',
 '8/4/24',
 '8/5/24',
 '8/6/24',
 '8/7/24',
 '8/8/24',
 '8/9/24',
 '9/1/24',
 '9/10/24',
 '9/11/24',
 '9/12/24',
 '9/16/24',
 '9/17/24',
 '9/18/24',
 '9/19/24',
 '9/20/24',
 '9/22/24',
 '9/23/24',
 '9/24/24',
 '9/25/24',
 '9/26/24',
 '9/28/24',
 '9/29/24',
 '9/3/24',
 '9/4/24',
 '9/5/24',
 '9/9/24']